<!--Create Page-->
{% extends 'base.html' %}


{% block content %}
    <section class="createPage">

    <form action="{% url 'add album' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Add Album</legend>
            <div class="container">

                <!-- Form for Adding Album -->
                 {{ form }}
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}